name: Publish package to GitHub Packages
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@dasundev'
      - run: npm ci
        working-directory: ./resources/js/livewire-dropzone-styles
      - run: npm publish
        working-directory: ./resources/js/livewire-dropzone-styles
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
